#Header-nav{
    background-color: #8989ff;
    width: auto;
    border: 1px solid #8989ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  
  }
  #pop-img {
    height: 4rem;
  }
  @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
  #logo-container{
    width: 20rem;
    font-family: "Bangers", system-ui;
    font-size: 1.5rem;
    color: #ffffff;
    margin-right: auto;
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
  #found{
    margin-right: 1rem;
    margin-left: auto;
    font-family: "Actor", sans-serif;
    justify-self: flex-end;
    height: auto;

  }
  #search-box {
    margin: auto;
    justify-self: center

  }
  @import url('https://fonts.googleapis.com/css2?family=Actor&family=Forum&display=swap');
  #search-box input{
    font-family: "Forum", serif;
    border: 1px solid #ffffff;
    padding-left: 1.5rem;
    outline: none;
    height: 2.5rem;
    width: 20rem;
    font-size: 1.5rem;
    border-radius:10px ;
  }