#Header-nav{
  background-color: #8989ff;
  width: auto;
  border: 1px solid #8989ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  flex-wrap:wrap;

}
#pop-img {
  height: 4rem;
}
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
#logo-container{
  width: 20rem;
  font-family: "Bangers", system-ui;
  font-size: 1.5rem;
  color: #ffffff;
  margin-right: auto;
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
#found{
  margin-right: 1rem;
  margin-left: auto;
  font-family: "Actor", sans-serif;
  justify-self: flex-end;
  height: 3.5rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
#found img {
  height: 2rem;
}
#count {
  border: 1px solid #ff0000;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  color: white;
}
#search-box {
  margin: auto;
  justify-self: center

}
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Forum&display=swap');
#search-box input{
  font-family: "Forum", serif;
  border: 1px solid #ffffff;
  padding-left: 1.5rem;
  outline: none;
  height: 2.5rem;
  width: 20rem;
  font-size: 1.5rem;
  border-radius:10px ;
}
